@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.homepage {
  padding: 0 0 60px;
  color: colors.$GRAY1;

  .description {
    padding: 0 20px;
  }

  section {
    margin: 40px 0 20px;

    + section {
      margin-top: 60px;
    }
  }

  h1 {
    font-size: 26px;
    font-weight: 500;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    margin-top: 16px;
    line-height: 1.5;
    color: colors.$GRAY3;
  }

  strong {
    font-weight: 500;
    color: colors.$PRIMARY;
  }

  a {
    display: block;
    margin: 16px 0 24px;
    font-size: 18px;
    font-weight: 500;
    color: colors.$PRIMARY;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: colors.$PRIMARY_PRESSED;
      text-decoration: underline;
    }
  }

  @include responsive.after(SD) {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 22px;
    }

    p {
      font-size: 18px;
    }
  }
}

.introBackground {
  height: 300px;
  background-position: right;
  background-size: cover;

  @include responsive.after(SD) {
    height: 400px;
  }

  @include responsive.after(LD) {
    margin: 0 20px;
  }

  .introduction {
    padding: 30px 20px 20px;
    text-align: right;

    p {
      margin-top: 20px;
      font-size: 18px;
      color: colors.$GRAY1;
    }

    @include responsive.after(SD) {
      padding-right: 40px;

      p {
        font-size: 20px;
      }
    }

    @include responsive.after(LD) {
      padding-right: 60px;
    }
  }
}
