@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/responsive';

section {
  margin: 30px auto;
}

.introduction {
  font-size: 20px;
  font-weight: 500;
}

.sampleImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 20px;

  @include responsive.after(ML) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include responsive.after(SD) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include responsive.after(LD) {
    grid-template-columns: repeat(6, 1fr);
  }

  li {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: sizes.$BORDER_RADIUS;

    button {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
