@use '/src/styles/constants/colors';

button {
  height: 40px;
  font-size: 16px;
  border-radius: 8px;

  &.large {
    width: 100px;
  }

  &.medium {
    width: 80px;
  }

  &.small {
    width: 50px;
  }

  &.primary {
    color: colors.$WHITE;
    background-color: colors.$PRIMARY;

    &:active {
      background-color: colors.$PRIMARY_PRESSED;
    }
  }

  &.secondary {
    color: colors.$PRIMARY;
    border: 1.5px solid colors.$PRIMARY;

    &:active {
      background-color: colors.$GRAY50;
    }
  }

  &.ghost {
    color: colors.$PRIMARY;

    &:active {
      background-color: colors.$GRAY50;
    }
  }

  &:disabled {
    background-color: colors.$PRIMARY;
    opacity: 0.6;
  }
}
