@use '/src/styles/constants/sizes';
@use '/src/styles/mixins/responsive';

.pageContainer {
  max-width: 1300px;
  min-height: 100vh;
  padding: sizes.$GNB_HIGHT_M 20px 20px;
  margin: 0 auto;

  @include responsive.after(SD) {
    min-height: 100vh;
    padding-top: sizes.$GNB_HIGHT;
  }
}
