@use '/src/styles/constants/colors';

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .logoText {
    height: 24px;
    fill: colors.$PRIMARY;
  }
}
